
.svn/entries

*.svn-base

.svn/format

.svn/wc.db

bin/AndroidManifest.xml

bin/alipay_lib.jar

bin/res/crunch/drawable-hdpi/title_background.9.png

bin/res/crunch/drawable-hdpi/dialog_bg_click.9.png

bin/res/crunch/drawable-hdpi/dialog_bg_normal.9.png

bin/res/crunch/drawable-hdpi/dialog_cut_line.png

bin/res/crunch/drawable-hdpi/dialog_split_h.png

bin/res/crunch/drawable-hdpi/dialog_split_v.png

bin/res/crunch/drawable-hdpi/title.png

bin/res/crunch/drawable-hdpi/refresh_push.9.png

bin/classes/com/alipay/android/app/lib/ResourceMap.class

bin/R.txt

bin/classes/com/alipay/android/app/sdk/BuildConfig.class

*.class

bin/jarlist.cache

bin/res/crunch/drawable-hdpi/popup_bg.9.png

bin/res/crunch/drawable-hdpi/refresh.9.png

gen/com/alipay/android/app/sdk/BuildConfig.java

gen/com/alipay/android/app/sdk/R.java
